kotlin.code.style=official

krotoplus_version=0.3.0
protobuf_version=3.6.1
coroutines_version=1.0.1
grpc_version=1.15.1
koin_version=2.0.0-rc-2
jooq_version=3.11.2
hikari_version=3.3.1
mysql_connector_version=8.0.11
lombok_version=1.16.20
jackson_version=2.9.8
junit_version=4.12
spock_version=1.2-groovy-2.4
h2_version=1.4.197